.italic {
    font-style: italic;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.blue2 {
    color: rgb(0, 255, 255);
}

.yellow {
    color: yellow;
}

#task2 {
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

#task22 {
    background-color: rgb(88, 88, 88);
    width: 190px;
    height: 40px;
    margin: 5px 0px 5px 10px;
    text-align: center;
    line-height: 250%;
}

#task3 {
    width: 48px;
    height: 224px;
    background-color: white;
    border: 1px solid white;
}

.task33 {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    margin: 4px;
}

.task333 {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: 1px solid blue;
    margin: 4px;
}

#task4 {
    width: 400px;
    height: 200px;
    background-color: green;
    margin: 10px;
    font-family: 'Playfair Display', serif;
}

#task44 {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    margin: 5px;
}

#task444 {
    color: white;
    font-size: 18px;
    line-height: 20px;
    margin: 5px;
    text-align: left;
}

#task5 {
    width: 220px;
    height: 320px;
    background-color: whitesmoke;
    margin: 10px;
}

#task55 {
    color: red;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px 0;
}

#task555 {
    text-align: center;
}

#task5555 {
    text-align: left;
}