.header {
    background-color:rgb(241, 138, 138);
    width: 830px;
    height:50px;
}
.header__text {
    padding: 15px;
}
.header__text-filler {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
.columns {
    display: flex;
    width: 800px;
    margin: 15px 0;
}
.column__left {
    width: 400px;
    padding-left: 15px;
}
.column__right {
    width: 400px;
    padding-left: 15px;
}
.footer {
    background-color:rgb(241, 138, 138);  
    width: 830px;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer__buttons-left {
    padding: 0;
   background: #FAAB1B;
   border-width: 0;
   text-transform: uppercase;
   cursor: pointer;
}
.form-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.required::after{
    content: '*';
    color: red;
}
.website{
    border:1px white;
    width: 50px;
}
label {
    width: 200px;
}
.field {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.field + .field {
    margin-top: 15px;
}
