* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: Manrope;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 15px 0;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 0 32px;

        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #18191F;

        &-item {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #18191F;
            transition: all 0.3s;
            
            &:hover {
                color: #FE9A22;
            }
        }

        &-item + &-item {
            margin-left: 32px;
        }
    }
    
    &__apple-link {
        margin-left: 12px;
    }
    
}

/* SERVICES */

.services {
    padding: 80px 0;
    background-color: #0B0D17;

    &__title {
        max-width: 730px;
        margin: 0 auto 48px;

        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
        margin-bottom: 48px;

        &-item {
            background-color: #fff;
            padding: 40px 32px;
            color: #18191F;
            border-radius: 8px;
            
        }

        &-title {
            margin-top: 56px;

            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            
        }

        &-text {
            margin-top: 12px;

            font-size: 16px;
            line-height: 26px;
        }

        &-link {
            display: block;
            margin-top: 40px;

            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #8C30F5;
            position: relative;

            &::after {
                content: "";
                background-image: url(/img/services/violet-arrow.svg);
                background-position: center center;
                width: 15px;
                height: 10px;
                background-repeat: no-repeat;
                position: absolute;
                left: 50px;
                top: 4px;
            }
        }

    }

    &__button {
        display: block;
        width: 180px;
        height: 62px;
        background-color: #0B0D17;
        border:1px solid #FFFFFF;
        border-radius: 8px;
        padding: 16px 20px;
        position: relative;
        margin: 0 auto;

        font-weight: bold;
        font-size: 20px;
        text-align: left;
        line-height: 30px;
        color: #FFFFFF;

        &::after {
            content: "";
            background-image: url(/img/services/light-arrow.svg);
            background-position: center center;
            width: 22px;
            height: 14px;
            background-repeat: no-repeat;
            position: absolute;
            right: 18px;
            top: 23px;
        }
    }
    
}

/* MEDIA */

.media {
    padding: 20px 0;

    &__list {
        display: flex;
        justify-content: space-evenly;
        /*width: 890px;*/
        margin: 0 auto;
        padding: 25px 0;
        position: relative;

        &::before, &::after {
            content: "";
            background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}